.content h3 + button {
  margin-left: 50px;
}
label button{
  vertical-align: middle;
}
.floater {
  position: fixed;
  max-width: 90vw;
  width: 970px;
  height: 90vh;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3001;
  overflow: auto;
}
#adminForm {
  padding: 30px;
  margin: 20px;
  border: 2px solid ;
  box-shadow: 0 0 25px #333;
  border-radius: 10px;
  & > div {
    margin: 20px;
    textarea,
    input:not([type="checkbox"]) {
      display: block;
      width: 600px;
      &.is-invalid {
        outline-color: #470c01;
      }
    }
    input[type="checkbox"] {
      display: unset;
      width: unset;
    }
    span span {
      white-space: nowrap;
    }
  }
  .ql-container {
    font-family: unset;
    font-size: unset;
  }
}
#adminList {
  & > div {
    padding: 30px;
    margin: 20px;
    border: 2px solid #583874;
    border-radius: 10px;
  }
  .shopButt {
    margin: 0;
  }
}
@keyframes spin-099e35a6-ed1c-47ab-8a03-2205d48c69e2
{
  0% {
    animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}