:root {
  --forground: #efefef;
  --background:#222;
} 

@import url("//fonts.googleapis.com/css?family=Pangolin|Slackey|Luckiest+Guy");

html,
body {
  font-family: "Pangolin", "Comic Sans MS", sans-serif;
  font-size: 17px;
  background-color: var(--background);
  color: var(--forground);
  line-height: 2;
  min-height: 100vh;
}
#pagetop {
  background-color:black;
}
.quill
 {
  .ql-snow.ql-container {border-color: transparent;}
  .ql-editor{
    font-family: 'Pangolin', sans-serif;
    font-size:medium;
  }
  .ql-snow.ql-toolbar{ 
    border-color: transparent;
    svg {
  .ql-fill{    
    fill:  var(--chakra-colors-slate-500)!important;
  } 
  .ql-stroke {
    stroke: var(--chakra-colors-slate-500)!important;
  }}}
}
