@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Work+Sans:wght@400;700&display=swap');

:root {
  --mainLight:#fafafa;
  --mainDark:rgb(65, 64, 71);
  --bodybg:#fff;
  --bodyclr:#02244e;
} 

html,
body {
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  background-color: var(--bodybg);
  color: var(--bodyclr);
  line-height: 2;
}
a {
  text-decoration: none;
  color:var(--mainLight);
}
#pagetop, #pagetop *{
  background:var(--mainLight);
  color:var(--mainDark);
}
#content.about .content, #content.contact .content{
  max-width: 850px;
  margin: 0 auto;
}